.containerLinks{
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  
  a{
    color: #2C619E;
    font-weight: bold;
    letter-spacing: .01rem;
    display: flex;
    gap: .3rem;
    svg{
      width: 15px;
    }
  }
}